[user]
	name = Noelle Leigh
	email = noelle_leigh@fastmail.com
[alias]
	glog = log --all --decorate --oneline --graph
[core]
	editor = code --wait
	excludesFile = ~/.gitignore
[sendemail]
	smtpserver = smtp.fastmail.com
	smtpuser = noelle_leigh@fastmail.com
	smtpencryption = tls
	smtpserverport = 587
	assume8bitEncoding = utf-8
[rerere]
	enabled = true
[pull]
	rebase = false
[commit]
	verbose = true
