[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
	ignore = dirty
[submodule "extras/nvm"]
	path = extras/nvm
	url = https://github.com/nvm-sh/nvm
	branch = master
[submodule "extras/pyenv"]
	path = extras/pyenv
	url = https://github.com/pyenv/pyenv
	branch = master
