[user]
	name = Noelle Leigh
	email = noelle_leigh@fastmail.com
[alias]
	glog = "log --graph --date=short --format=format:'%C(auto)%h %C(blue)%ad %C(auto)%s%d'"
[core]
	editor = code --wait
	excludesFile = ~/.gitignore
[sendemail]
	smtpserver = smtp.fastmail.com
	smtpuser = noelle_leigh@fastmail.com
	smtpencryption = tls
	smtpserverport = 587
	assume8bitEncoding = utf-8
	annotate = yes
[rerere]
	enabled = true
[pull]
	rebase = false
[commit]
	verbose = true
